<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springdemo.test.mapper.BbsMapper">

    <insert id="saveRow"
        parameterType="com.example.springdemo.test.domain.BbsRequestDTO">
        INSERT INTO TB_BBS(TITLE, CONTENT)
        VALUES(#{title}, #{content})
    </insert>

    <select id="selectRow"
            parameterType="java.util.HashMap"
            resultType="com.example.springdemo.test.domain.BbsResponseDTO">
        SELECT ID, TITLE, CONTENT
        FROM TB_BBS
        WHERE ID = #{ id }
    </select>

    <delete id="deleteRow"
            parameterType="java.util.HashMap">
        DELETE FROM TB_BBS
        WHERE ID = #{id}
    </delete>

    <update id="updateRow"
            parameterType="com.example.springdemo.test.domain.BbsRequestDTO">
        UPDATE TB_BBS
        SET TITLE = #{title},
            CONTENT = #{content}
            WHERE ID = #{id}
    </update>

</mapper>